<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Manage Pipeline</title>
  </head>
  <body>
    <span><a href="/manage/pipeline/new">Create new Pipeline</a><span> 
  </body>
</html>
