<html>
<body>
<h2><%= @pipeline.name %></h2>
<h3>Tasks</h3>
<ul>
<%= lc task inlist @tasks do %>
<li><%= task.name %></li>
<% end %>
</ul>
<a href="/manage/pipeline/<%= @pipeline.id %>/task/new">Add Task</a>
</body>
</html>
